#body {
    display: flex;
    width: 5000px; height: 5000px;
    background-image: url('images/grid.jpeg');
    background-size: 100%;
    background-color: black;
}

#add-menu {
    border: 2px solid lightgrey;
    border-radius: 16px;
    width: 20vh;
    height: 50vh;
    display: block;
    background-color: rgba(255,255,255,0.7);
    position: fixed;
    z-index: 6767;
}

#add-menu-title {
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: fit-content;
    text-align: center;
    display: block;
    margin-inline: auto;
    padding: 3px;
    transition: 0.3s ease;
}

.add-element {
    margin-inline: auto; margin-top: 7px;
    border-radius: 16px;
    width: 80%;
    display: flex;
    align-items: center;
}

.add-element-img {
    width: 20%;
    aspect-ratio: 1/1;
    margin: 5px;
}







#add-complex-menu {
    border: 2px solid lightgrey;
    border-radius: 16px;
    width: 20vh;
    height: 50vh;
    display: block;
    background-color: rgba(255,255,255,0.7);
    position: fixed;
    z-index: 6767;
    right: 10px;
}

#add-complex-title {
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: fit-content;
    text-align: center;
    display: block;
    margin-inline: auto;
    padding: 3px;
    transition: 0.3s ease;
}


/* add element images and stuff */


/* NOTEPAD */

.notepad {
    width: 150px; height: 150px;
    background-color: rgb(230,230 , 0);
    position: absolute;
    border-radius: 16px;
    top: 200px;
    left: 200px;
    z-index: 3;
}

.notepad:hover {
    cursor: grab;
}

.notepad:active {
    cursor: grabbing;
}

.notepad-title {
    text-align: center;
    font-size: 16px;
    transition: 0.3s ease;
    background-color: rgb(235,235 , 0);
    margin-inline: auto;
    width: 80%;
    border-radius: 8px;
    border: 1px solid black;
    margin-top: 5px;
}

.notepad-title:hover {
    background-color: rgba(50,50,50,0.1);
}

.notepad-text {
    min-height: 80%;
    width: 80%;
    margin-inline: auto;
    margin-top: 5px;
    font-size: 12px;
}







/* settings thingy */

.element-settings {
    position: absolute;
    bottom: 5px; right: 5px;
    width: 20px; height: 13px;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}

.element-settings:hover + .element-settings-view {
    visibility: visible;
}

.element-settings-view {
    position: absolute;
    bottom: -20px;
    right: -100px;
    width: 100px;
    height: auto;
    background-color: rgba(255,255,255,0.7);
    padding: 5px;
    border-radius: 14px;
    visibility: hidden;
    transition-duration: 0.1s;
}
.element-settings-view:hover {
    visibility: visible;
    cursor: default;
}

.element-settings-view-img {
    width: 17px;
    height: 17px;
    margin: 5px;
}

/* individual settings */

.delete-element {
    color: red;
    font-family: arial;
    align-items: center;
    display: flex;
    border-radius: 16px;
}

.add-cell {
    font-family: arial;
    align-items: center;
    display: flex;
    border-radius: 16px;
}

.add-log {
    font-family: arial;
    align-items: center;
    display: flex;
    border-radius: 16px;
}




/* SPREADSHEET */

.spreadsheet {
    background-color: white;
    width: 300px; height: auto;
    position: absolute;
    top: 200px; left: 200px;
    border-radius: 16px;
    padding-bottom: 100px;
    border: 2px solid lightgrey;
}

.spreadsheet-title {
    width: 90%;
    font-size: 24px;
    border: 2px solid lightgrey;
    border-radius: 16px;
    margin-inline: auto;
    margin-top: 10px;
    text-align: center;
}

.spreadsheet-spreadsheet {
    width: 90%;
    border: 2px solid lightgrey;
    margin-inline: auto;
    border-radius: 16px;
    margin-top: 10px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    overflow: auto;
}

.spreadsheet-spreadsheet-cell {
    width: 180px; min-width: 180px; max-width: 180px;
    height: 40px; min-height: 40px; max-height: 40px;
    border: 2px solid lightgrey;
    border-radius: 16px;
    margin-top: 5px; margin-left: 5px;
    text-align: center;
    overflow: auto;
}





/* DISPLAY */

.display {
    width: 300px; height: 300px;
    background-color: white;
    border-radius: 16px;
    position: absolute;
    top: 200px; left: 200px;
    border: 2px solid lightgrey;
    padding: 10px;
}

.display-display {
    white-space: pre-wrap;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.display-connector {
    right: 0px;
    top: 50%;
    position: absolute;
    transform: translate(50%, -50%);
}










/* global classes */

.parent-hover{transition: 0.3s ease;}
.parent-hover:hover {
    background-color: rgba(50,50,50,0.1);
    transform: scale(1.05)
}

.parent-hover-instant:hover{
    background-color: rgba(50,50,50,0.1); 
}
 
.parent-grab{position:absolute;}
.parent-grab:hover{
    cursor: grab;
}
.parent-grab:active{
    cursor: grabbing;
}



/* global classes for interactives/ complex elements */

.connector {
    width: 70px; height: 70px;
    border-radius: 100%;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connector-img {
    height: 70%;
    width: 70%;
}


